@font-face {
    font-family: z3d;
    /*src: url("/fonts/HelpMe.ttf");*/
}

.column {
    flex-direction: column;
}
.d-flex {
    display: flex;
}
.lp-zombie-hand {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 40%;
    z-index: -1;
}
#lp-title {
    position: relative;
    top: 320px;

    color: #7C0404;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    font-size:256px;
    font-family: z3d!important;

}