@font-face {
    font-family: "z3d";
    src: url("../fonts/HelpMe.ttf"),
    url("http://localhost:3000/fonts/HelpMe.ttf"),
    url("http://82.64.177.251/fonts/HelpMe.ttf"),
    url("../fonts/HelpMe.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: z3d;
}

/************* GAME ************/

#info {
    position: absolute;
}

#loader-gif {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    z-index: 999;
}

#loader-gif > img {
    width: 100px;
    height: 100px;
}

#current-weapon {
    position: absolute;
    right: 0;
    bottom: 0;
}

#current-weapon-fpsview {
    position: absolute;
    right: 100px;
    bottom: 0;
}

#current-weapon-fpsview > img {
    width: 35vw;
    height: 45vh;
}

#current-weapon-bullet {
    font-size: 64px;
    font-weight: bold;
    margin-right: 10px;
}

#crosshair {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#crosshair > img{
    width: 100px;
    height: 100px;
    mix-blend-mode: hard-light;
}

.d-none {
    display: none!important;
}
.hidden {
    opacity: 0;
}

#chat-div {
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    padding: 5px;
    max-width: 300px;
    word-break: break-word;
}
#chat-input {
    position: relative;
    -webkit-appearance: none;
    background: transparent;
    border: none;
    width: 300px;
}

#chat-ul > li{
    margin-top: 2px;
    font-family: Arial;
}

#chat-ul > li > span{
    margin-top: 2px;
    font-family: z3d;
}

#points {
    position: absolute;
    top: 40vh;
    right: 10px;
}

#option-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#option-menu > button,a {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px!important;
    width: 150px;
    height: 100px;
    background: brown;
    border: 1px solid antiquewhite;

    color: darkorange;
    font-size: 24px;
    text-decoration: none;
    text-align: center;

    transition: 0.2s;
}
#option-menu > a:hover {
    background: #4d1d00;
}
#option-menu > button:hover {
    background: #4d1d00;
}

label {
    color: white;
    font-size: 25px;
}

#option-panel {
    display: flex;
    flex-direction: column;
}

/** UTILS **/
.d-flex {
    display: flex;
}