ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}

.chat-username {
    margin-right: 10px;
    font-weight: 800;
}

.chat-date {
    margin-right: 10px;
    font-size: 12px;
}
.chat-container {
    height: 300px;
    max-height: 300px; /* Set the maximum height as needed */
    overflow-y: auto;
}
#chat {
    display: flex;
    flex-direction: column;
}

#chat-textarea {
    margin-top: 10px;

    resize: none;
    overflow: hidden;
}

.ready {
}
.ready:before {
    content: '✓';
    color: #880000;
    font-size: 20px;
    width: 150px;
}

.map-item {
    background: #333;

    width: 50%;
    padding: 10px;
    border-bottom: 2px solid #ccc;

    cursor: pointer;
    font-size: 24px;
    font-weight: 700;

    transition: .2s;
}
.map-item:hover, .active  {
    background: #880000;
}

#current-map {
    position: relative;
}

#current-map img {
    position: absolute;
    z-index: -1;
    max-height: 100vh;
    object-fit: cover;
    overflow: hidden;
    left: 0;
}

#current-map-name {
    position: absolute;
    right: 0;
    margin: 20px;

    font-size: 64px;
    font-weight: 700;
}