ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}

.chat-username {
    margin-right: 10px;
    font-weight: 800;
}

.chat-date {
    margin-right: 10px;
    font-size: 12px;
}
.chat-container {
    max-height: 300px; /* Set the maximum height as needed */
    overflow-y: auto;
}
#chat {
    display: flex;
    flex-direction: column;
}

#chat-textarea {
    margin-top: 10px;

    resize: none;
    overflow: hidden;
}

.img-preview {
    /*max-width: 500px;*/
    aspect-ratio: 16/9;

    width: 50%;
    margin: auto;
}

.ready {
}
.ready:before {
    content: '✓';
    color: #880000;
    font-size: 20px;
    width: 150px;
}